{% extends 'blog/post_base.html' %}
{% load staticfiles %}

{% block post %}
<div class="title">
    <h3>글목록 {{ category.name }}</h3><hr>
</div>
{% for post in posts %}
    <div>
        <h1>
            <a href=" {% url 'blog:post_detail' slug=post.slug id=post.id %}">{{ post.title }}</a>
        </h1>
        <p>{{ post.content|truncatewords:10 }}</p>
        <p>update: {{ post.updated }}</p>
    </div>
</div>
{% endfor %}
<a href="{% url 'blog:post_create' %}" ><span class="glyphicon glyphicon-plus">create</span></a>

{% endblock post %}