{% extends 'blog/post_base.html' %}

{% block post %}
<form method='POST'>
    {% csrf_token %}
    <div class="container">
        <!--div class="row"-->
    {% for error in form.non_field.errors %}
    <div class="alert alert-danger">
            {{ error }}
    </div>
    {% endfor %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% for field in form.visible_fields %}
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="{{ field.auto_id }}" class="bmd-label-floating">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.help_text %}
                        <span class="bmd-help">{{ field.help_text }}</span>
                    {% endif %}
                </div>
            </div>
    
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}
    {% endfor %}
    <hr>
    <button type="submit" class="save btn btn-default">저장</button>
</div>
    <!-- <table>  
        {{ form.as_table }}
    </table> -->
    <!-- <div class="row">
    <div class="justify-content-center">
        <div class="col-sm-6"></div>
    </div>
    <input type="submit"-->
</form>
{% endblock %}