{% extends 'blog/post_base.html' %}
{% load staticfiles %}

{% block post %}
<div class="jumbotron">
    <h1>SafeWeb<sup><small>powered by Django</small></sup></h1>
    <p>안전한 인터넷 사용을 위한 기술들</p>
    <p>
        <a class="btn btn-lg btn-primary" href="https://www.isecurekr.com">아이시큐어 &raquo;</a>
    </p>
</div>
<div class="container">

<div class="row">
    <div class="col-md-6">
        <div class="title">
            <h3>카테고리</h3>
        </div>
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container">
                <div class="navbar-translate">
                    <a class="navbar-brand"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item {% if not category %}active{% endif %}">
                            <a href="{% url 'blog:post_list' %}" class="nav-link">All</a>
                        </li>
                        {% for c in categories %}
                        <li class="nav-item {% if category.slug == c.slug %}active{% endif %} ">
                            <a href="{{ c.get_absolute_url }}" class="nav-link">{{ c.name }}</a>
                        </li>
                        {% endfor %}
                        <!-- <li class="dropdown nav-item">
                            <a href="#pablo" class="dropdown-toggle nav-link" data-toggle="dropdown">Dropdown</a>
                            <div class="dropdown-menu">
                                <h6 class="dropdown-header">Dropdown header</h6>
                                <a href="#pablo" class="dropdown-item">Action</a>
                                <a href="#pablo" class="dropdown-item">Another action</a>
                                <a href="#pablo" class="dropdown-item">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="#pablo" class="dropdown-item">Separated link</a>
                                <div class="dropdown-divider"></div>
                                <a href="#pablo" class="dropdown-item">One more separated link</a>
                            </div>
                        </li> -->
                    </ul>
                    <form class="form-inline ml-auto" action="" method="get">
                        <div class="form-group has-white">
                            <input type="text" class="form-control" name="q" value="{{ q }}">
                            <button type="submit" class="btn btn-white btn-raised btn-fab btn-round">
                                <i class="material-icons">search</i>
                            </button>
                        </form>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="title">
    <h3>글목록 {{ category.name }}</h3><hr>
</div>
{% for post in posts %}
    <div>
        <h1>
            <a href=" {% url 'blog:post_detail' slug=post.slug id=post.id %}">{{ post.title }}</a>
        </h1>
        <p>{{ post.content|truncatewords:10 }}</p>
        <p>update: {{ post.updated|date:"D d M Y" }}</p>
    </div>
{% endfor %}
<a href="{% url 'blog:post_create' %}" ><span class="glyphicon glyphicon-plus">create</span></a>
<div class="title">
    <h3>Comments</h3>
</div>
<hr />
<ul>
    {% for comment in post.comment_set.all %}
    <li>
        {{ comment.content }}
        <small>by {{ comment.author }}</small>
        <small>at {{ comment.create }}</small>
    </li>
{% endfor %}
</ul>
</div>

{% endblock post %}