{% extends 'base.html' %}

{% block SEO %}
<!-- Canonical SEO -->
<link rel="canonical" href="https://www.isecurekr.com" />
<!--  Social tags      -->
<meta name="keywords" content="isms, 컨설팅, 보안컨설팅, 인증컨설팅, ISMS 인증컨설팅, 정보보호관리체계, 취약점분석, PC취약점, 네트워크, 방화벽, 모의해킹, 보안, 취약점, 정보시스템, 취약점">
<meta name="description" content="보안수준 향상을 위한 준비">
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="iSecure Inc.">
<meta itemprop="description" content="보안수준 향상을 위한 준비">
<meta itemprop="image" content="https://s3.ap-northeast-2.amazonaws.com/django-online/iSecure.jpg">
<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@isecure">
<meta name="twitter:title" content="iSecure Inc.">
<meta name="twitter:description" content="보안수준 향상을 위한 준비">
<meta name="twitter:creator" content="@isecure">
<meta name="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/django-online/iSecure.jpg">
<!--meta name="twitter:data1" content="iSecure Inc.">
<meta name="twitter:label1" content="Product Type">
<meta name="twitter:data2" content="Free">
<meta name="twitter:label2" content="Price"-->
<!-- Open Graph data -->
<!--meta property="fb:app_id" content="655968634437471"-->
<meta property="og:title" content="iSecure Inc." />
<meta property="og:type" content="security.isms" />
<meta property="og:url" content="http://www.isecurekr.com" />
<meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/django-online/iSecure.jpg" />
<meta property="og:description" content="보안수준 향상을 위한 준비" />
<meta property="og:site_name" content="iSecure Inc." />
{% endblock SEO %}